<div class="container pt-5 mt-5">
  <div class="head mt-4">
    <h1 class="title">Seating Chart</h1>
  </div>
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1" [routerLink]="['/main/admin/devspace']">
          <div class="txt">
            <h1>DEVSPACE <br>
              3 ROWS OF SEATS</h1>
            <p> A collaborative environment with ample seating across 3 rows, ideal for team brainstorming and coding sessions.</p>
          </div>
          <a [routerLink]="['/main/admin/devspace']">edit</a>
          <div class="ico-card">
          <i class=" -rebel"><img src="..//../../../assets/table1.png" alt=""></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2" [routerLink]="['/main/admin/codelounge']">
          <div class="txt">
            <h1>CodeLounge <br>
              4 ROWS OF SEATS</h1>
            <p>Offering comfortable seating spanning 4 rows, perfect for focused coding sessions and discussions.</p>
          </div>
          <a [routerLink]="['/main/admin/codelounge']">edit</a>
        <div class="ico-card">
          <i class=" -plus"><img src="..//../../../assets/table1.png" alt=""></i>
        </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 column">
        <div class="card gr-3" [routerLink]="['/main/admin/bytelab']">
          <div class="txt">
            <h1>ByteLab <br>
              5 ROWS OF SEATS</h1>
            <p>Offering comfortable seating spanning 5 rows, perfect for focused coding sessions and discussions.</p>
          </div>
          <a [routerLink]="['/main/admin/bytelab']">edit</a>
        <div class="ico-card">
          <i class=" -empire"><img src="..//../../../assets/table1.png" alt=""></i>
        </div>
        </div>
      </div>
      
    </div>
</div>