@import "../../../../../../variables.scss";


// .mbsc-datepicker-tab-wrapper {
//   justify-content: left !important;
// }


$seat-color: $color-primary;
$seat-color-selected: #005711;
$seat-notvacantcolor: #ccc;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;

.map {
	margin-top: 5%;
	display: grid;
	justify-content: end;
	align-items: end;
}

.space {
	height: $seat-size * 0.5;
	display: inline-block;
}

$seat-color: $color-primary;
$seat-color-selected: #0c651e;
$seat-notvacantcolor: #ccc;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;

.tableFor2 {
	margin: 20px;
	margin-left: 3rem;
	width: 66px;
	height: 59px;
	border-radius: 4px;
	background: #007EA7;
	background: linear-gradient(90deg, #000000 46%, #015e7d 50%, #000 53%, #000000 38%);
	position: relative;
	border: 1px solid #000;
	margin: 3px;
	display: inline-block;
	cursor: pointer;
	z-index: 1000;

	&.selected {
		background: $seat-color-selected;
		color: #ccc;
		border: 1px solid $seat-bordercolor;
		background: linear-gradient($seat-color-selected 0%, $seat-color-selected 70%, $seat-bordercolor 70%, $seat-color-selected 77%);
	}

	&:after,
	&:before {
		content: '';
		display: block;
		width: 36px;
		height: 38px;
		position: absolute;
		background: $color-primary;
		bottom: ($seat-size / 8);
		z-index: 999;

	}

	&:before {
		right: -32.4px;
		bottom: 9px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-end-end-radius: 10px;
		border-start-end-radius: 10px;
		border-right: 6px solid $seat-bordercolor;
		border-left: 2px solid white;

	}

	&:after {
		right: 62px;
		bottom: 9px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-end-start-radius: 10px;
		border-start-start-radius: 10px;
		border-left: 6px solid $seat-bordercolor;
		border-right: 2px solid white;

	}

	&.notvacant {
		background: $seat-notvacantcolor;
		background: linear-gradient($seat-notvacantcolor 0%, $seat-notvacantcolor 70%, $seat-bordercolor 70%, $seat-notvacantcolor 77%);
		cursor: not-allowed;
		opacity: 60%;




		&:before,
		&:after {
			background: $seat-notvacantcolor;
		}
	}




}

.seat {
	width: $seat-size - ($seat-size / 10);
	height: $seat-size;
	border-radius: 4px 4px 8px 8px;
	background: $seat-color;
	background: linear-gradient($seat-color 0%, $seat-color 70%, $seat-bordercolor 70%, $seat-color 77%);
	position: relative;
	border: 1px solid $seat-bordercolor;
	margin: $seat-gap;
	display: inline-block;
	cursor: pointer;

	&.selected {
		background: $seat-color-selected;
		color: #ccc;
		border: 1px solid $seat-bordercolor;
		background: linear-gradient($seat-color-selected 0%, $seat-color-selected 70%, $seat-bordercolor 70%, $seat-color-selected 77%);
	}

	&:after,
	&:before {
		content: '';
		display: block;
		width: $seat-size / 6;
		height: $seat-size / 1.8;
		position: absolute;
		background: $seat-bordercolor;
		border-radius: 4px;
		border: 1px solid $seat-bordercolor;
		bottom: ($seat-size / 8);

	}

	&:before {
		left: ($seat-size / 10) * -1;
	}

	&:after {
		right: ($seat-size / 10) * -1;
	}

	&.notvacant {
		background: $seat-notvacantcolor;
		background: linear-gradient($seat-notvacantcolor 0%, $seat-notvacantcolor 70%, $seat-bordercolor 70%, $seat-notvacantcolor 77%);
		cursor: not-allowed;
		opacity: 60%;

		&:before,
		&:after {
			background: $seat-notvacantcolor;
		}
	}
}

.seat-button {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	z-index: 999;
}

.seat:hover .seat-button {
	display: block;
}


// counter
.containerr {
	margin-top: 30px;
}

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 10px 20px 10px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 14px;
	font-weight: 500
}

.counter-box i {
	font-size: 30px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter {
	display: block;
	font-size: 22px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
	background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}

$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;




a {
	color: inherit;

	&:hover {
		color: $button-bg-color;
	}
}

.uppercase {
	text-transform: uppercase;
}


.btn {
	display: inline-block;
	background: transparent;
	color: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;

	&--primary {
		background: $button-bg-color;
		color: $button-text-color;
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
		border-radius: 2px;
		padding: 12px 36px;

		&:hover {
			background: darken($button-bg-color, 4%);
		}

		&:active {
			background: $button-bg-color;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		}
	}


}


.form {
	&__field {
		width: 360px;
		background: #fff;
		color: $input-text-color;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
	}
}

.res-flex {
	.d-block {
		width: 40vw;
	}
}

.res-info {
	.four {
		width: 33%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
	.res-flex {
		.btn {
			margin-top: 0.5rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.res-flex {
		flex-direction: column !important;
		align-items: center;
		gap: 0;

		.d-block {
			width: 100%;
		}
	}

	.map {
		margin-top: 15%;
		display: grid;
		justify-content: center;
	}

	.res-info {
		margin: 0 !important;
		padding: 0 !important;
		margin-bottom: 2rem;

		.row {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
		}
	}

	.four {
		width: 25%;
	}


}