<div aria-live="polite" aria-atomic="true" *ngIf="showToast" class="bg-body-secondary position-relative bd-example-toasts rounded-3">
  <div class="toast-container p-3" id="toastPlacement">
    <div class="toast">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>
</div>
  <div class="container pt-5 mt-5">
    <div class="head mt-4">
      <h1 class="title">Seating Chart</h1>
    </div>
    <div class="d-flex chart">
      <div class="div">
        <p class="w-50 py-4">Select your desired <span class="fw-bold color-primary">date and time</span>, then simply click on your preferred <span class="fw-bold color-primary">room and seat</span> on our interactive map to reserve it instantly. Enjoy your event hassle-free with our seamless booking process!</p>
      </div>
       <div class="row">
       <section class="col mt-3 ftco-section">
        <div class="btn-group">
           <button type="button" class="mb-3 btn btn-primary dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-people-roof"></i>
             Room {{selectedRoom}}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item color-1" (click)="selectRoom('1')">
              <i class="mr-4 fa fa-people-roof"></i>
              Devspace-Room 1 <br>&nbsp;3 rows of seats
            </a>
            <a class="dropdown-item color-2" (click)="selectRoom('2')">
              <span class="mr-4 ion-ios-rainy"></span>
              CodeLounge-Room 2 <br>&nbsp;4 rows of seats
            </a>
            <a class="dropdown-item color-3" (click)="selectRoom('3')">
              <span class="mr-4 ion-ios-cloudy"></span>
              ByteLab-Room 3 <br>&nbsp;5 rows of seats
            </a>
          </div>
        </div>
      </section>
    </div>
    </div>
    <div class="res-dashboard row align-items-start">
      <div class="res-date col-6 mt-3">
        <div class="res-collapse">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="d-inline-flex gap-1">
                <a class="btn bg-color-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fa fa-calendar" style="color:#ffffff"></i>
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <mbsc-datepicker
                  [controls]="['calendar', 'time']"
                  dateFormat="DDD D MMM, YYYY"
                  timeFormat="H:mm"
                  dateWheels="|DDD D MMM, YYYY|"
                  select="range"
                  display="inline"
                  [touchUi]="true"
                  [themeVariant]="document.body.classList.contains('dark') ? 'dark' : 'light'"
                  (onChange)="handleRangeChange($event,selectedRoom || '')"
                  style="align-items: flex-start;"
                  >
                </mbsc-datepicker>
                </div>
              </div>
             
            </div>
            <div class="col-3">
              <section class="ftco-section">
                <div class="btn-group">
                   <button type="button" class=" btn btn-primary dropdown-toggle text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Room {{selected}}
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item color-1" (click)="selectRoom('1')">
                      <i class=" fa fa-people-roof"></i>
                      Devspace-Room 1 <br>&nbsp;3 rows of seats
                    </a>
                    <a class="dropdown-item color-2" (click)="selectRoom('2')">
                      <span class=" ion-ios-rainy"></span>
                      CodeLounge-Room 2 <br>&nbsp;4 rows of seats
                    </a>
                    <a class="dropdown-item color-3" (click)="selectRoom('3')">
                      <span class=" ion-ios-cloudy"></span>
                      ByteLab-Room 3 <br>&nbsp;5 rows of seats
                    </a>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="open-collapse">
          <p class="d-inline-flex gap-1">
        </p>
        <div id="collapseExamle">
          <div class="card card-body">
            
            <mbsc-datepicker
              [controls]="['calendar', 'time']"
              dateFormat="DDD D MMM, YYYY"
              timeFormat="H:mm"
              dateWheels="|DDD D MMM, YYYY|"
              select="range"
              display="inline"
              [touchUi]="true"
              [themeVariant]="document.body.classList.contains('dark') ? 'dark' : 'light'"
              (onChange)="handleRangeChange($event,selectedRoom || '')"
              style="align-items: flex-start;"
            >
          </mbsc-datepicker>
          </div>
        </div>
        </div>
      </div>
      <div class="res-seats container col-6">
        <ul class="showcase">
          <li>
            <div class="manager"></div>
            <div class="cube manager"></div>
            <small>Manager</small>
          </li>
          <li>
            <div class="selected"></div>
            <div class="cube selected"></div>
            <small>Selected</small>
          </li>
          <li>
            <div class="booked"></div>
            <div class="cube booked"></div>
            <small>Occupied</small>
          </li>
        </ul>

        <div class="map">
          <div *ngIf="selectedRoom === '1'">
          <div class="style-grid" *ngIf="selectedStyle === 'styleSingle1'">
            <ng-container *ngFor="let row of style2Seats; let i = index">
                
                <ng-container>
                  <div 
                  class="seat"
                  [id]="i + 1"
                  (click)="onSeatClicked(i + 1)"
                  [title]="getAltMessage(isSeatBooked(i + 1), i + 1)"
                  [class.notValid]="isValid"
                  [class.selected]="toggleSelection(i + 1)"
                  [class.notvacant]="isSeatBooked(i + 1)" 
                  [class.notmanager]="notManager(i + 1)"
                  (mouseenter)="showButton = true"
                  (mouseleave)="showButton = false"
                  
                  [class.seatB]="i % 3 === 1"
                  >
                  {{ (i + 1) }}
                  
                  <button *ngIf="!isSeatBooked((i + 1)) && showButton && startDate && endDate" 
                                      class="mt-3 btn btn-dark text-light seat-button" 
                                      (click)="toggleCheckout(i + 1)" 
                                      [disabled]="isValid">Reserve</button>
                </div>
                </ng-container>
            </ng-container>
          </div>
          <div class="mt-5 style-grid" *ngIf="selectedStyle === 'styleSingle2'">
            <ng-container  *ngFor="let row of style2Seats; let i = index">
                <div class="mb-3">
                <ng-container>
                  <div 
                  class="seat"
                  [id]="i + 1"
                  (click)="onSeatClicked(i + 1)"
                  [title]="getAltMessage(isSeatBooked(i + 1), i + 1)"
                  [class.notValid]="isValid"
                  [class.selected]="toggleSelection(i + 1)"
                  [class.notvacant]="isSeatBooked(i + 1)" 
                  [class.notmanager]="notManager(i + 1)"
                  (mouseenter)="showButton = true"
                  (mouseleave)="showButton = false"
                  
                  [class.seatLeftA]="i % 3 === 0"
                  [class.seatLeftB]="i % 3 === 1"
                  
                  >
                  {{ (i + 1)  }}
                  <button *ngIf="!isSeatBooked((i + 1)) && showButton && startDate && endDate" 
                  class="mt-3 btn btn-dark text-light seat-button" 
                  (click)="toggleCheckout(i + 1)" 
                  [disabled]="isValid">Reserve</button>
                </div>
                 
                </ng-container>
              </div>
            </ng-container>
          </div>
          <div class="mt-4 style-grid" *ngIf="selectedStyle === 'styleSingle3'">
            <ng-container  *ngFor="let row of style2Seats; let i = index">
                
                <ng-container>
                  <div 
                  class="seat"
                  [id]="i + 1"
                  (click)="onSeatClicked(i + 1)"
                  [title]="getAltMessage(isSeatBooked(i + 1), i + 1)"
                  [class.notValid]="isValid"
                  [class.selected]="toggleSelection(i + 1)"
                  [class.notvacant]="isSeatBooked(i + 1)" 
                  [class.notmanager]="notManager(i + 1)"
                  (mouseenter)="showButton = true"
                  (mouseleave)="showButton = false"
          
                  [class.my-5]="i % 3 === 1" 
                  
                  >
                  {{ (i + 1) }}
                  <button *ngIf="!isSeatBooked((i + 1)) && showButton && startDate && endDate" 
                                      class="mt-3 btn btn-dark text-light seat-button" 
                                      (click)="toggleCheckout(i + 1)" 
                                      [disabled]="isValid">Reserve</button>
                  
                </div>
                 
                </ng-container>    
            </ng-container>
            
          </div>
          <div class="mt-4 ustyle-grid" *ngIf="selectedStyle === 'styleSingle4'">
            <ng-container *ngFor="let row of style2Seats; let i = index">
                
                  <div 
                    [ngClass]="{
                       'even-B': (i + 1) % 2 === 0 && i > 0, 
                       'odd-A': (i + 1) % 2 !== 0 && i > 0,
                       'odd-C': (i + 1) % 2 !== 0 && i > 0,
                              }"
                  >
                  <ng-container>
                    <div class="seat"
                    [id]="i + 1"
                    (click)="onSeatClicked(i + 1)"
                    [title]="getAltMessage(isSeatBooked(i + 1), i + 1)"
                    [class.notValid]="isValid"
                    [class.selected]="toggleSelection(i + 1)"
                    [class.notvacant]="isSeatBooked(i + 1)" 
                    [class.notmanager]="notManager(i + 1)"
                    (mouseenter)="showButton = true"
                    (mouseleave)="showButton = false">
                      {{ (i + 1)}}
                      <button *ngIf="!isSeatBooked((i + 1)) && showButton && startDate && endDate" 
                                      class="mt-3 btn btn-dark text-light seat-button" 
                                      (click)="toggleCheckout(i + 1)" 
                                      [disabled]="isValid">Reserve</button>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
          
          </div>
</div>
          <ng-container *ngIf="selectedRoom === '2'">
            <ng-container  *ngFor="let row of table2Seats let i = index">
           <div class="d-block flow-root">
             <ng-container *ngFor="let seat of table2Id">
               <div class="seat" 
               [id]="row + seat" 
               [class.mx-5]="seat === 'B'"
               [class.me-5]="seat === 'C'"
               (click)="onSeatClicked(row + seat)"
               [class.notValid]="isValid"
               [class.selected]="toggleSelection(row + seat)"
               [class.notvacant]="isSeatBooked(row + seat)" 
               [class.notmanager]="notManager(row + seat)"
               [title]="getAltMessage(isSeatBooked(row + seat),(row+ seat))"
               (mouseenter)="showButton = true" 
               (mouseleave)="showButton = false"
               >
               {{row}}{{seat}}

               <button *ngIf="!isSeatBooked(row + seat) && showButton && startDate && endDate" class="mt-3 btn bg-color-primary text-light seat-button" (click)="toggleCheckout(row + seat)" [disabled]="isValid" >Reserve</button>
             </div>
             </ng-container>
           </div>
           <div class="space" [class.space]="(i + 1) % 2 === 0"></div>
         </ng-container>
         </ng-container>
        
         <ng-container *ngIf="selectedRoom === '3'">
             <ng-container  *ngFor="let row of table3Seats let i = index">
             <div class="d-block flow-root">
               <ng-container *ngFor="let seat of table3Id">
                 <div class="seat" 
                 [id]="row + seat" 
                 [class.mx-4]="seat === 'B' || seat === 'D'"
                 (click)="onSeatClicked(row + seat)"
                 [class.selected]="toggleSelection(row + seat)"
                 [class.notvacant]="isSeatBooked(row + seat)" 
                 [class.notmanager]="notManager(row + seat)"
                 [class.notValid]="!isValid"
                 [title]="getAltMessage(isSeatBooked(row + seat),(row+ seat))"
                 (mouseenter)="showButton = true" 
                 (mouseleave)="showButton = false"
                 >
                 {{row}}{{seat}}
                 <button *ngIf="!isSeatBooked(row + seat) && showButton && startDate && endDate" class="mt-3 btn bg-color-primary text-light seat-button" (click)="toggleCheckout(row + seat)" [disabled]="isValid" >Reserve</button>

               </div>
               </ng-container>
             </div>
             <div class="space" [class.space]="(i + 1) % 2 === 0"></div>
           </ng-container>
         </ng-container>
          <!-- <ng-container *ngIf="selectedRoom === '1' && selectedStyle === 'style3'">
            <ng-container  *ngFor="let row of table1Seats let i = index">
              <div class="d-block flow-root">
                <ng-container *ngFor="let seat of table1Id">
                  <div class="seat" 
                  [id]="row + seat" 
                  [class.mx-5]="seat == 'B'"
                  (click)="onSeatClicked(row + seat)"
                  [class.notValid]="isValid"
                  [class.selected]="toggleSelection(row + seat)"
                  [class.notvacant]="isSeatBooked(row + seat)" 
                  [class.notmanager]="notManager(row + seat)"
                  [title]="getAltMessage(isSeatBooked(row + seat),(row+ seat))"
                  (mouseenter)="showButton = true" 
                  (mouseleave)="showButton = false"
                  >
                  {{row}}{{seat}}
                  
                  <button *ngIf="!isSeatBooked(row + seat) && showButton && startDate && endDate" class="mt-3 btn btn-dark text-light seat-button" (click)="toggleCheckout(row + seat)" [disabled]="isValid">Reserve</button>
                </div>
                </ng-container>
              </div>
              <div class="space" [class.space]="(i + 1) % 2 === 0"></div>
            </ng-container>
          </ng-container> -->
         
         
          
        </div>
      </div>
    </div>
	</div>
<app-checkout [startDate]="startDate" 
[endDate]="endDate" [selectedSeat]="selectedTable" [selectedRoom]="selectedRoom" *ngIf="checkoutVisible" ></app-checkout>

