@import "../../../variables.scss";

$seat-color: $color-primary;
$seat-color-selected: #005711;
$seat-notvacantcolor: #ccc;
$seat-notmanagercolor: #960000;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;

.showcase {
	padding: 5px 10px;
	border-radius: 5px;
	color: #777;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

.showcase li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.showcase li small {
	margin-left: 2px;
}

.showcase .cube {
	width: 10px;
	height: 10px;
	background-color: #005711;
	border-radius: 2px;
	margin-right: 3px;

	&.manager {
		background-color: $seat-notmanagercolor;
	}

	&.selected {
		background-color: $seat-color-selected;
	}

	&.booked {
		background-color: $seat-notvacantcolor;
	}

	&.booked {
		background-color: $seat-notvacantcolor;
	}

}



.map {
	margin-top: 5%;
	display: grid;
	justify-content: end;
	align-items: end;
}

.space {
	height: $seat-size * 0.5;
	display: inline-block;
}

$seat-color: $color-primary;
$seat-color-selected: #0c651e;
$seat-notvacantcolor: #ccc;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;

.seat {
	width: $seat-size - ($seat-size / 10);
	height: $seat-size;
	border-radius: 4px 4px 8px 8px;
	background: $seat-color;
	background: linear-gradient($seat-color 0%, $seat-color 70%, $seat-bordercolor 70%, $seat-color 77%);
	position: relative;
	border: 1px solid $seat-bordercolor;
	margin: $seat-gap;
	display: inline-block;
	cursor: pointer;

	&.selected {
		background: $seat-color-selected;
		color: #ccc;
		border: 1px solid $seat-bordercolor;
		background: linear-gradient($seat-color-selected 0%, $seat-color-selected 70%, $seat-bordercolor 70%, $seat-color-selected 77%);
	}

	&:after,
	&:before {
		content: '';
		display: block;
		width: $seat-size / 6;
		height: $seat-size / 1.8;
		position: absolute;
		background: $seat-bordercolor;
		border-radius: 4px;
		border: 1px solid $seat-bordercolor;
		bottom: ($seat-size / 8);

	}

	&:before {
		left: ($seat-size / 10) * -1;
	}

	&:after {
		right: ($seat-size / 10) * -1;
	}

	&.notvacant {
		background: $seat-notvacantcolor;
		background: linear-gradient($seat-notvacantcolor 0%, $seat-notvacantcolor 70%, $seat-bordercolor 70%, $seat-notvacantcolor 77%);
		cursor: not-allowed;
		opacity: 60%;




		&:before,
		&:after {
			background: $seat-notvacantcolor;
		}
	}

	&.notmanager {
		background: $seat-notmanagercolor;
		background: linear-gradient($seat-notmanagercolor 0%, $seat-notmanagercolor 70%, $seat-bordercolor 70%, $seat-notmanagercolor 77%);
		cursor: not-allowed;
		opacity: 100%;

		&:before,
		&:after {
			background: $seat-notmanagercolor;
		}
	}

	&.notValid {
		background: gray;
		background: linear-gradient(gray 0%, gray 70%, $seat-bordercolor 70%, gray 77%);
		cursor: not-allowed;
		opacity: 100%;

		&:before,
		&:after {
			background: gray;
		}
	}
}


.seat-button {
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	z-index: 999;
}

.seat:hover .seat-button {
	display: block;
}


// dropdown rooms
@mixin transition($property, $duration: 0.3s, $timing-function: ease) {
	transition: $property $duration $timing-function;
}

a {
	transition: .3s all ease;


	&:hover,
	&:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}

button {
	transition: .3s all ease;

	&:hover,
	&:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	line-height: 1.5;
	font-weight: 400;
}


.ftco-section {
	text-align: end;

	.btn-group {
		.btn {
			padding: 10px 10px;
			cursor: pointer;
			border-width: 1px;
			border-radius: 4px;
			font-size: 18px;
			font-weight: 400;
			-webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
			-moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
			box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
			position: relative;
			margin-bottom: 20px;
			@include transition(.3s);

			i {
				font-size: 22px;
				line-height: 1;
			}

			&:hover,
			&:active,
			&:focus {
				outline: none !important;
			}

			&.btn-primary {
				background: $color-primary !important;
				border-color: $color-primary !important;
				color: white;

				&:hover,
				&:focus {
					border-color: lighten($color-primary, 5%) !important;
					background: lighten($color-primary, 5%) !important;
				}
			}
		}

	}
}

.ftco-no-pt {
	padding-top: 0;
}

.ftco-no-pb {
	padding-bottom: 0;
}

.heading-section {
	font-size: 28px;

	small {
		font-size: 18px;
	}
}

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.dropdown-toggle::after {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}



$color-1: #f9e090;
$color-2: #5edfff;
$color-3: #4d80e4;
$color-4: #ff8080;


.btn-group {
	min-width: 18rem;

	.dropdown-menu {
		border: none;
		background: white;
		-webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
		-moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
		box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
		padding: 0;
		min-width: 18rem;
		margin-top: 15px;
		cursor: pointer;
		position: relative;

		&:after,
		&:before {
			content: ' ';
			display: block;
			border-style: solid;
			border-width: 0 .7em .6em .7em;
			border-color: transparent;
			position: absolute;
			right: 0;
			margin-right: 16px;
			z-index: -1;
		}

		&:before {
			top: -.6em;
			border-bottom-color: rgba(0, 0, 0, .03);
		}

		&:after {
			top: -.5em;
			border-bottom-color: #fff;
		}

		.dropdown-item {
			font-size: 16px;
			color: rgba(0, 0, 0, .7);
			font-weight: 400;
			padding: 15px 30px;
			position: relative;
			border-bottom: 1px solid rgba(0, 0, 0, .05);

			&:last-child() {
				border: none;
			}

			&:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				content: '';
				width: 4px;
				opacity: 0;
			}

			span {
				font-size: 20px;
			}

			&.color-1 {
				span {
					color: $color-1;
				}

				&:hover {
					&:after {
						opacity: 1;
						background: $color-1;
					}
				}
			}

			&.color-2 {
				span {
					color: $color-2;
				}

				&:hover {
					&:after {
						opacity: 1;
						background: $color-2;
					}
				}
			}

			&.color-3 {
				span {
					color: $color-3;
				}

				&:hover {
					&:after {
						opacity: 1;
						background: $color-3;
					}
				}
			}

			&.color-4 {
				span {
					color: $color-4;
				}

				&:hover {
					&:after {
						opacity: 1;
						background: $color-4;
					}
				}
			}
		}
	}
}

.res-collapse {
	display: none;
}

.open-collapse {
	display: block;
}

@media screen and (max-width: 768px) {
	.res-collapse {
		display: block;
	}

	.open-collapse {
		display: none;
	}

	.chart .div,
	.chart .ftco-section {
		display: none;
	}

	.showcase {
		margin-top: 20px;
		justify-content: flex-start;
	}

	.res-dashboard {
		flex-direction: column;
	}

	.map {
		margin-top: 15%;
		display: grid;
		justify-content: center;
	}

	.res-date {
		width: 100%;
	}

	.res-seats {
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.btn-group {
		min-width: 1rem;
	}

	.dropdown-toggle::after {
		display: none;
	}
}

.custom-snackbar {
	background-color: #4d80e4 !important;
	color: #fff;
}