<div class="theatre">
  <div class="screen-side">
    <h3 class="select-text">Please select a seat</h3>
  </div>
  <ol class="cabin">
    <li class="row mb-4" *ngFor="let row of ['1', '2', '3', '4', '5', '6', '7', '8']">
      <ol class="seats" type="A">
        <li class="seat" *ngFor="let seat of ['A', 'B', 'C']">
          <input type="checkbox" 
                 [id]="row + seat" 
                 (click)="onSeatClicked(row + seat)" 
                 [checked]="isSeatSelected(row + seat)" 
                 [disabled]="isSeatBooked(row + seat)" />
          <label [for]="row + seat" [ngClass]="{ 'booked-seat': isSeatBooked(row + seat)}" [title]="getAltMessage(isSeatBooked(row + seat))" >{{row}}{{seat}}</label>
          
        </li>
      </ol>
    </li>
  </ol>
  <button class="btn btn-primary" type="submit" [routerLink]="['/booking']">Book</button>
</div>
