@import "../../../variables.scss";




$seat-color: $color-primary;
$seat-color-selected: #005711;
$seat-notvacantcolor: #ccc;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;
.map{
	margin-top: 5%;
	display: grid;
	justify-content: end;
	align-items: end;
}

.space {
  height: $seat-size * 0.5;
  display: inline-block;
}

$seat-color: $color-primary;
$seat-color-selected: #0c651e;
$seat-notvacantcolor: #ccc;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;
.seat {
  width: $seat-size -  ($seat-size / 10);
  height: $seat-size;
  border-radius: 4px 4px 8px 8px;
  background: $seat-color;
  background: linear-gradient($seat-color 0%, $seat-color 70%, $seat-bordercolor 70%, $seat-color 77%);
  position: relative;
  border: 1px solid $seat-bordercolor;
  margin: $seat-gap;
  display: inline-block;
	cursor: pointer;
  &.selected {
		background: $seat-color-selected;
    color: #ccc;
		border: 1px solid $seat-bordercolor;
		background: linear-gradient($seat-color-selected 0%, $seat-color-selected 70%, $seat-bordercolor 70%, $seat-color-selected 77%);
	}
  &:after, &:before {
    content: '';
    display: block;
    width: $seat-size / 6;
    height: $seat-size / 1.8;
    position: absolute;
    background: $seat-bordercolor;    
    border-radius: 4px;
    border: 1px solid $seat-bordercolor;
    bottom: ($seat-size / 8);
		
  }
  
  &:before {
    left:  ($seat-size / 10) * -1;
  }
  
  &:after {
    right:  ($seat-size / 10) * -1;
  }
  
  &.notvacant {
    background: $seat-notvacantcolor;
      background: linear-gradient($seat-notvacantcolor 0%, $seat-notvacantcolor 70%, $seat-bordercolor 70%, $seat-notvacantcolor 77%);
			cursor: not-allowed;
			opacity: 60%;

    &:before, &:after {
       background: $seat-notvacantcolor;
    }
  }
}
.seat-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
	z-index: 999;
}

.seat:hover .seat-button {
  display: block;
}





