$primary: #40bfc1;
$success: #64e291;
$warning: #f6d365;
$upcoming: #2DCCFF;
$ready: #56F000;
$notavailable: #FF3838;
$black: black;
$white: white;
$danger: red;

body {
	overflow-y: hidden;
}

.ftco-section-booked {
	padding: 7em 0;
}

a {
	transition: .3s all ease;
	color: $primary;

	&:hover,
	&:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	line-height: 1.5;
	font-weight: 400;
	color: $black;
}

.bg-primary {
	background: $primary !important;
}



.ftco-no-pt {
	padding-top: 0;
}

.ftco-no-pb {
	padding-bottom: 0;
}

.heading-section {
	font-size: 28px;
	color: $black;
}

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.table-wrap {
	overflow-x: scroll;

}

.table {
	min-width: 1000px !important;
	width: 100%;
	-webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);

	thead {
		th {
			border: none;
			padding: 30px;
			font-size: 13px;
			font-weight: 500;
			color: lighten($black, 50%);

		}

		tr {
			background: $white;
			border-bottom: 4px solid darken(#f8f9fd, 3%);
		}
	}

	tbody {
		tr {
			margin-bottom: 10px;
			border-bottom: 4px solid #f8f9fd;

			&:last-child() {
				border-bottom: 0;
			}
		}

		th,
		td {
			border: none;
			padding: 30px;
			font-size: 14px;
			background: $white;
			vertical-align: middle;
		}

		td {
			&.status {
				span {
					position: relative;
					border-radius: 30px;
					padding: 4px 10px 4px 25px;

					&:after {
						position: absolute;
						top: 9px;
						left: 10px;
						width: 10px;
						height: 10px;
						content: '';
						border-radius: 50%;
					}
				}

				.active {
					background: lighten($success, 25%);
					color: darken($success, 25%);

					&:after {
						background: darken($success, 20%);
					}
				}

				.waiting {
					background: lighten($warning, 25%);
					color: darken($warning, 25%);

					&:after {
						background: darken($warning, 15%);
					}
				}

				.upcoming {
					background: lighten($upcoming, 25%);
					color: darken($upcoming, 25%);

					&:after {
						background: darken($upcoming, 15%);
					}
				}

				.ended {
					background: lighten(#464c4e, 25%);
					color: darken(#464c4e, 25%);

					&:after {
						background: darken(#464c4e, 15%);
					}
				}

			}

			.img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}

			.email {
				span {
					display: block;

					&:last-child() {
						font-size: 12px;
						color: rgba(0, 0, 0, .3);
					}
				}
			}

			.close {
				span {
					font-size: 12px;
					color: $danger;
				}
			}
		}
	}
}


.checkbox-wrap {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-wrap input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
}

.checkmark:after {
	content: "\f0c8";
	font-family: "FontAwesome";
	position: absolute;
	color: rgba(0, 0, 0, .1);
	font-size: 20px;
	margin-top: -14px;

}

.checkbox-wrap {
	input:checked~.checkmark:after {
		display: block;
		content: "\f14a";
		font-family: "FontAwesome";
		color: rgba(0, 0, 0, .2);
	}
}


.checkbox-primary {
	color: $primary;

	input:checked~.checkmark:after {
		color: $primary;
	}
}


// select box


.form-select {
	background-color: #f8f9fa;
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 8px;
	font-size: 16px;
	color: #495057;
	outline: none;

	&:focus {
		border-color: none;
		box-shadow: 0 0 0 rgba(0, 123, 255, 0.5);
	}

	.option {
		background-color: #fff;
		color: #495057;
		padding: 1rem !important;

		&:hover {
			background-color: #e9ecef;
			color: #212529;
		}
	}
}