@import "../../../../../../variables.scss";


.mbsc-datepicker-tab-wrapper {
  justify-content: left !important;
}


$seat-color: $color-primary;
$seat-color-selected: #005711;
$seat-notvacantcolor: #ccc;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;

.map {
  margin-top: 5%;
  display: grid;
  justify-content: end;
  align-items: end;
}

.space {
  height: $seat-size * 0.5;
  display: inline-block;
}

$seat-color: $color-primary;
$seat-color-selected: #0c651e;
$seat-notvacantcolor: #ccc;
$seat-notmanagercolor: #960000;
$seat-bordercolor: #000;
$seat-size: 44px;
$seat-gap: 3px;

.tableFor2 {
  margin: 20px;
  margin-left: 3rem;
  width: 66px;
  transform: rotate(90deg);
  height: 59px;
  border-radius: 4px;
  background: #007EA7;
  background: linear-gradient(90deg, #000000 46%, #000000 50%, #000 53%, #000000 38%);
  position: relative;
  border: 1px solid #000;
  margin: 3px;
  display: inline-block;

  .seatLeft {
    content: '';
    transform: rotate(270deg);
    display: block;
    width: 36px;
    height: 38px;
    position: absolute;
    background: $color-primary;
    bottom: ($seat-size / 8);
    z-index: 999;
  }

  .seatLeft {
    right: 62px;
    bottom: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-top: 6px solid $seat-bordercolor;
    border-bottom: 2px solid white;
  }



  .seatB {
    right: -25px;
    transform: rotate(270deg);
    bottom: 9px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-top: 2px solid #ffffff;
    border-bottom: 6px solid rgb(0, 0, 0);
  }
}

.style-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  margin-right: 3rem;
  gap: 3rem;
}

// ustyle
.ustyle-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  justify-items: start;
  margin-right: 3rem;
  gap: 3rem;
}

.utableFor2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0;
  margin: 20px;
  width: 66px;
  height: 59px;
  border-radius: 4px;
  background: #007EA7;
  background: linear-gradient(90deg, #000000 46%, #000000 50%, #000 53%, #000000 38%);
  position: relative;
  border: 1px solid #000;
  display: inline-block;
  transform: rotate(90deg);
}

.useatLeft {
  transform: rotate(270deg);
  display: block;
  width: 36px;
  height: 38px;
  position: absolute;
  background: #007EA7;
  bottom: 9px;
  right: 62px;
  z-index: 999;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
  border-top: 6px solid #000;
  border-bottom: 2px solid white;
}

.even-B {
  grid-column: 1 / span 0;
  grid-row: auto;
}

.odd-A {
  grid-column: 1;
  grid-row: auto;
}

.odd-C {
  grid-column: 3;
  grid-row: auto;
}

.seatLeftA {
  right: 15px;
  bottom: -29px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
  border-top: 6px solid #000;
  border-bottom: 2px solid white;
}

.seatLeftB {
  right: 15px;
  transform: rotate(0deg);
  bottom: 48px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
  border-top: 6px solid #000;
  border-bottom: 2px solid white;
}

.example {
  display: block;
}

.seat {
  width: $seat-size - ($seat-size / 10);
  height: $seat-size;
  border-radius: 4px 4px 8px 8px;
  background: $seat-color;
  background: linear-gradient($seat-color 0%, $seat-color 70%, $seat-bordercolor 70%, $seat-color 77%);
  position: relative;
  border: 1px solid $seat-bordercolor;
  margin: $seat-gap;
  display: inline-block;
  cursor: pointer;

  &.selected {
    background: $seat-color-selected;
    color: #ccc;
    border: 1px solid $seat-bordercolor;
    background: linear-gradient($seat-color-selected 0%, $seat-color-selected 70%, $seat-bordercolor 70%, $seat-color-selected 77%);
  }

  &:after,
  &:before {
    content: '';
    display: block;
    width: $seat-size / 6;
    height: $seat-size / 1.8;
    position: absolute;
    background: $seat-bordercolor;
    border-radius: 4px;
    border: 1px solid $seat-bordercolor;
    bottom: ($seat-size / 8);

  }

  &:before {
    left: ($seat-size / 10) * -1;
  }

  &:after {
    right: ($seat-size / 10) * -1;
  }

  &.notvacant {
    background: $seat-notvacantcolor;
    background: linear-gradient($seat-notvacantcolor 0%, $seat-notvacantcolor 70%, $seat-bordercolor 70%, $seat-notvacantcolor 77%);
    cursor: not-allowed;
    opacity: 60%;




    &:before,
    &:after {
      background: $seat-notvacantcolor;
    }
  }

  &.notmanager {
    background: $seat-notmanagercolor;
    background: linear-gradient($seat-notmanagercolor 0%, $seat-notmanagercolor 70%, $seat-bordercolor 70%, $seat-notmanagercolor 77%);
    cursor: not-allowed;
    opacity: 100%;

    &:before,
    &:after {
      background: $seat-notmanagercolor;
    }
  }

  &.notValid {
    background: gray;
    background: linear-gradient(gray 0%, gray 70%, $seat-bordercolor 70%, gray 77%);
    cursor: not-allowed;
    opacity: 100%;

    &:before,
    &:after {
      background: gray;
    }
  }
}

.seat-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  z-index: 999;
}

.seat:hover .seat-button {
  display: block;
}


// counter
.containerr {
  margin-top: 30px;
}

.counter-box {
  display: block;
  background: #f6f6f6;
  padding: 10px 20px 10px;
  text-align: center
}

.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #909090;
  font-size: 14px;
  font-weight: 500
}

.counter-box i {
  font-size: 30px;
  margin: 0 0 15px;
  color: #d2d2d2
}

.counter {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #666;
  line-height: 28px
}

.counter-box.colored {
  background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
  color: #fff
}

// increse decreaese

//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;




a {
  color: inherit;

  &:hover {
    color: $button-bg-color;
  }
}

.uppercase {
  text-transform: uppercase;
}

.res-flex {
  .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;

    &--primary {
      background: $button-bg-color;
      color: $button-text-color;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
      border-radius: 2px;
      padding: 12px 36px;

      &:hover {
        background: darken($button-bg-color, 4%);
      }

      &:active {
        background: $button-bg-color;
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
      }
    }


  }
}



.style-section {
  z-index: 1000;

  .btn-group {
    min-width: 6rem !important;

    .dropdown-menu {
      min-width: 12rem;

      .dropdown-item {
        padding: 10px 30px;
      }
    }

    .btn {
      padding: 3px;
      cursor: pointer;
      border-width: 1px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 200;
      -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
      position: relative;
      margin-bottom: 20px;
      transition: all 1s ease-in-out;

      i {
        font-size: 22px;
        line-height: 1;
      }

      &:hover,
      &:active,
      &:focus {
        outline: none !important;
      }

      &.btn-primary {
        background: white !important;
        border-color: $color-primary !important;
        color: black;

        &:hover,
        &:focus {
          border-color: lighten($color-primary, 5%) !important;

        }
      }
    }

  }
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.heading-section {
  font-size: 28px;

  small {
    font-size: 18px;
  }
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.dropdown-toggle::after {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}



$color-1: #f9e090;
$color-2: #5edfff;
$color-3: #4d80e4;
$color-4: #ff8080;


.btn-group {
  min-width: 18rem;

  .dropdown-menu {
    border: none;
    background: white;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    padding: 0;
    min-width: 18rem;
    margin-top: 15px;
    cursor: pointer;
    position: relative;

    &:after,
    &:before {
      content: ' ';
      display: block;
      border-style: solid;
      border-width: 0 .7em .6em .7em;
      border-color: transparent;
      position: absolute;
      right: 0;
      margin-right: 16px;
      z-index: -1;
    }

    &:before {
      top: -.6em;
      border-bottom-color: rgba(0, 0, 0, .03);
    }

    &:after {
      top: -.5em;
      border-bottom-color: #fff;
    }

    .dropdown-item {
      font-size: 16px;
      color: rgba(0, 0, 0, .7);
      font-weight: 400;
      padding: 15px 30px;
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, .05);

      &:last-child() {
        border: none;
      }

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 4px;
        opacity: 0;
      }

      span {
        font-size: 20px;
      }

      &.color-1 {
        span {
          color: $color-1;
        }

        &:hover {
          &:after {
            opacity: 1;
            background: $color-1;
          }
        }
      }

      &.color-2 {
        span {
          color: $color-2;
        }

        &:hover {
          &:after {
            opacity: 1;
            background: $color-2;
          }
        }
      }

      &.color-3 {
        span {
          color: $color-3;
        }

        &:hover {
          &:after {
            opacity: 1;
            background: $color-3;
          }
        }
      }

      &.color-4 {
        span {
          color: $color-4;
        }

        &:hover {
          &:after {
            opacity: 1;
            background: $color-4;
          }
        }
      }
    }
  }
}



@media screen and (min-width: 768px) and (max-width: 1000px) {
  .res-flex {
    .btn {
      margin-top: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .res-flex {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 0;

    .d-block {
      width: 100%;
    }

  }

  .res-info {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 2rem;

    .row {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  .four {
    width: 25%;
  }

}