<div id="login-page">
  <div class="background text-center">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="">
    </div>
    <h1>Come to the office <br>and collaborate</h1>
  </div>
  <div class="spinner" *ngIf="spinner">

    <mat-spinner class="spin" ></mat-spinner>
  </div>

  <div class="login">
    <h2 class="login-title">Sign in</h2>
    <p class="notice">Please login to access the system</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
      <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
      <div class="input-email">
        <i class="fa fa-envelope icon"></i>
        <input type="email" class="form-control" name="email" id="email" formControlName="email" style="outline: none;" placeholder="Enter your e-mail" required>
      </div>
      <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
      <div class="input-password">
        <i class="fa fa-lock icon"></i>
        <input type="password" class="form-control" name="password" formControlName="password" id="password" placeholder="Enter your password" required>
      </div>
      <!-- <div class="checkbox">
        <label for="remember">
          <input type="checkbox" name="remember">
          Remember me
        </label>
      </div> -->
      <button class="bg-color-primary" type="submit"><i class="fas fa-door-open"></i> Log in</button>
    </form>
      <a href="#">Forgot your password?</a>
    <div class="created">
      <p class="color-primary">Created by <a href="https://www.caspianic.com/">Caspian Innovation Center</a></p>
    </div>
  </div>
</div>