@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

$primary-color: #6C7A89;
$secondary-color: #00b894;
$decor-color: #BDC3C7;
$font: "proxima-nova", sans-serif;





#wrapper{
   position: absolute;
   top: 55%;
   margin-top: -240px;
   left: 0;
   width: 100%;
   z-index: 999;
   
}

#container{
  width: 720px;
  height: 480px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
  @include border-radius(5px);
  overflow: hidden;
  background: white;
  background: white;
  background: white;
  background: white; 
}

#info{
  width: 52%;
  height: 480px;
  float: left;
  background: white;
  background: white;
  background: white;
  #product{
    width: 300px;
    margin: 50px 0 0 50px;
  }
  p{
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 1px;
  }
  #price{
    width: 50%;
    margin: 0 auto;
    letter-spacing: 1px;
    h2{
      width: 100%;
      text-align: center;
      font-weight: 700;
      color: #000;
      padding-top: 10px;
    }
  }
}

#payment{
  width: 40%;
  float: right;
  padding: 95px 50px 25px 0;
}

#checkout{
  width: 100%;
  input{
    margin-bottom: 15px;
  }
  label{
    float: left;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.6em;
  }
  #cvc-label{
    margin-left: 25px;
  }
  .card{
    width: 29%;
    margin: 0 10% 25px 10%;
    border: none;
    background: none;
    height: 50px;
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:focus{
      -webkit-filter: none;
      filter: none;
    }
  }
  #visa{
    background-image: url("http://enwaara.se/codepen/visa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  #mastercard{
    background-image: url("http://enwaara.se/codepen/mastercard.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 118%;
  }
  #cardnumber, #cardholder, #cvc{
    width: 100%;
    background: none;
    border: 1px solid $primary-color;
    padding: 8px 19px;
    @include border-radius(50px);
    letter-spacing: 1px;
    &:focus {
      border: 1px solid $secondary-color;
    }
  }
  ::-webkit-input-placeholder {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: $decor-color;
  }
  #cardnumber{
    letter-spacing: 3px;
    &::-webkit-input-placeholder {
      font-size: 1em;
    }
  }
  #left{
    width: 41%;
    border: 1px solid $primary-color;
    @include border-radius(50px);
    overflow: hidden;
    padding: 3px 5px;
    float: left;
    #month, #year{
      background: none;
      border: none;
      padding: 5px;
      @include border-radius(5px);
      float: left;
      font-size: 0.8em;
      letter-spacing: 3px;
      color: $decor-color;
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
      option{
        background: #ECECEC;
      }
    }
    p{
      float: left;
      padding-top: 2px;
      font-size: 1.2em;
      color: $decor-color;
      letter-spacing: 3px;
    }
  }
  #cvc{
    width: 48%;
    float: left;
    margin-left: 11%;
  }
  .btn{
    background: $secondary-color;
    border: none;
    width: 100%;
    padding: 12px 10px 10px 10px;
    @include border-radius(50px);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #ECECEC;
    cursor: pointer;
    &:hover{
      background: #16A085;
    }
  }
}